@import url('./_normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Train+One&display=swap');
@import url('./_vars.css');
@import url(.);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    font-size: var(--main-font-size);
    background: var(--main-background);
    color: var(--main-color-text);
}

body {
    flex-direction: column;
    justify-content: space-between;
}

.main {
    background: #F6F6F6;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 0 auto;
    background: #fff;
    border-bottom:#363535 solid 1px;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__title {
    font-family: 'Train One', cursive;
}

.menu {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 28px;
}

.menu__item > a {
    text-decoration: none;
    gap: 32px;
    color: #000;
}

.menu__item a:hover {
    color: #38bdf6;
    cursor: url('../assets/cursor.png');
}

.descr {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
}

.fotos {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.menu_smaller {
    font-size: 1.125rem;
}

.menu__link {
    text-transform: uppercase;
    color: var(--font-color);
    cursor: url('../assets/cursor.png'), auto;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding-top: 60px;
}

.social {
    display: flex;
    gap: 10px;
    padding-top: 28px;
}

.social-media {
   max-width: 42px;
   height: 42px;
   overflow: hidden;
}

a:hover {
    opacity: 0.5;

}

.btn__link {
    padding: 10px 0px;
    color: #0f0f0f;
    text-decoration: none;
}

.btn__link_bigger-bord {
    padding: 10px 20px;
    border: 0.2px solid #3C3C3C;
} 

.content {
    background: #F6F6F6;
    max-width: 1440px;
    max-height: 833px;
}

h1 {
    text-align: center;
    padding-top: 150px;
    margin: 0 auto;
}

.main_title::after {
    content: '';
    position: absolute;
    display: block;
    width: 45px;
    height: 8px;
    background-color: #DDDBDB;
    margin-left: 580px;
    margin-top: 20px;
}

.nav {
    padding-top: 28px;
}

h3 {
    font-weight: 700;
    padding-top: 19px;
}

h4 {
    font-weight: 300;
    color: #646464;
    padding-bottom: 190px;
}

.flip-card {
    background-color: transparent;
    width: 270px;
    height: 270px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    cursor: url('../assets/cursor.png'), auto;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-back {
    background-color: #18B5DC;
    color: white;
    transform: rotateY(180deg);
  }

  .icons {
    padding-top: 114px;
    padding-left: 70px;
  }



